<li id="post-<%= post._id %>" class="post-container">
    <p>

        <img src="<%= post.user.avatar %>" alt="<%= post.user.name %>" id="post-user-image">

        
        
       <small id="post-user-name"> <%= post.user.name %>  </small> 
       <sub id="post-created-at"><%= post.createdAt%></sub>
        <br>
        <small id="post-content">
            <%= post.content %>
        </small>
        <% if (locals.user && locals.user.id == post.user.id){ %>
            <small id="Delete-post-button">
                    <button id ="delete-post-button-icon"> 
                        <a class="delete-post-button"  href="/posts/destroy/<%= post.id %>">
                        Delete Post
                    </a>
                    </button>
            </small>
        <% } %>
        <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
        <br>

            <% if (locals.user){ %>
                <button id="like-button">
                    <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                        <%= post.likes.length %> Likes
                    </a>
                </button>
                
            <% }else{ %>
                <%= post.likes.length %> Likes
            <% } %>
        
    </p>
    <div class="post-comments">
        <% if (locals.user){ %>
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form id="post-<%= post._id %>-comments-form" class="add-comment-form"  action="/comments/create" method="POST">
                <input class="input-add-comment" type="text" name="content" placeholder="Add comment.." required>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <input id ="add-comment-button" type="submit" value="Post">
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>

                    <%- include('_comment') -%>
                    
                
                <%} %>
            </ul>
        </div>
    </div>
    
</li>